*~
*.backup
*.resized
db/schema.rb
db/junk
title/
html/
public/cache
log/
tmp/
/nbproject/private/
.bundle
db/*.sqlite3
log/*.log
tmp/
Gemfile.lock
.sass-cache/
log
config/database.yml
config/host.rb
db/database.log
ds_recipe/
